<div class="navbar navbar-inverse" ng-controller="NavController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">devconf AMA</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="signedIn()" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img ng-src="{{currentUser.image}}" class="img-circle avatar">
                        &nbsp;
                        {{currentUser.name}}
                        <span class="mdi-navigation-expand-more"></span>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li>
                            <a href="" ng-click="logout()">
                                <i class="mdi-action-exit-to-app"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li> 
            </ul>
        </div>
    </div>
</div>