body {
  background: #F3F3F3;
}

p {
  margin: 0 0 10px;
}

a, a:hover, a:focus {
  color: #121515;
}

.facebook-oauth-button {
    font-size: 1rem;
    display: block;
    margin: 0 auto 15px;
    border: none;
    background-color: #3c5a99 !important;
    color: #fff !important;
}


.facebook-oauth-button .icon {
    background-repeat: no-repeat;
    background-position: -315px -21px;
    width: 23px;
    height: 28px;
    display: inline-block;
    background-image: url(/images/sprite-no-repeat.svg);
    vertical-align: middle;
}

/* Nav Bar */

.navbar {
  margin-bottom: 0px;
}

.title {
  text-align: center;
}

.img-circle.avatar {
  width: 30px;
}
.star {
    padding-top:2px;
}
.star.starred {
    color: yellow !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

/* Panel */

.panel-title {
  font-weight: bold;
}

.img-browse {
  padding-top: 30px;
}

.quickaction{
    bottom: 0;
    padding: 23px 12px 23px 15px;
    position: fixed;
    right: 0;
    white-space: nowrap;
    z-index: 21;
}


.btn-danger{
    background-color: #f44336 !important;
    color: rgba(255,255,255, 0.84) !important;
}
